<?xml version=“1.0” encoding=“UTF-8”?>
<!DOCTYPE plist PUBLIC “-//Apple//DTD PLIST 1.0//EN” “http://www.apple.com/DTDs/PropertyList-1.0.dtd”>
<plist version=“1.0”>
<dict>
    <key>Label</key>
    <string>com.timoknapp.dndwatcher</string>
    <key>ProgramArguments</key>
    <array>
        <string>HOMEDIR_PLACEHOLDER/.dotfiles/bin/set-notification-badge</string>
    </array>
    <key>WatchPaths</key>
    <array>
        <string>$HOMEDIR_PLACEHOLDER/Library/DoNotDisturb/DB/Assertions.json</string>
    </array>
    <key>StandardErrorPath</key>
    <string>HOMEDIR_PLACEHOLDER/.dotfiles/config/dndwatcher/dndwatcher.log</string>
    <key>StandardOutPath</key>
    <string>HOMEDIR_PLACEHOLDER/.dotfiles/config/dndwatcher/dndwatcher.log</string>
</dict>
</plist>